@model AdminApp.ViewModels.BooksAndUserViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Informations about User</h2>


<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.User.Name):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.SecondName):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.SecondName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.NumberOfBooks):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.NumberOfBooks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Obligation):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Obligation) zł
        </dd>

    </dl>
</div>

<br /> <br />

<center><h2>Borrowed/Booked Books</h2></center>
<br />
<table class="table" style="width:90%; margin:0 auto;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.NumberOfPages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.BookingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.EndBookingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.BorrowingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.ReturnDate)
        </th>
        <th>Action</th>
    </tr>



    @foreach (var item in Model.Books)
    {
        if (item.ReturnDate >= DateTime.Now || item.ReturnDate==null)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfPages)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndBookingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    @Html.ActionLink("Change status", "ChangeStatus", "AdminUsers", new { id = item.BookId }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
        else
        {
            <tr style="color:red;">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfPages)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndBookingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    @Html.ActionLink("Change status", "ChangeStatus", "AdminUsers", new { id = item.BookId }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    }
</table>
