@model IEnumerable<OperationsOnData.Models.Book>

@{
    ViewBag.Title = "ShowBookedBooks";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<h2>Your booked books</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndBookingDate)
        </th>
        <th>
            Function
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndBookingDate)
        </td>
        <td>
            @if (item.Status == OperationsOnData.Models.Status.Booked)
                {
                    using (Html.BeginForm("CancleReservation", "Books", new { id = item.BookId }, FormMethod.Post))
                    {
                    @Html.Hidden("BookId", item.BookId)
                    <input type="submit" value="Cancel" onclick="return confirm('Are you sure?')" class="btn btn-success" />
                }
            }
        </td>
    </tr>
}

</table>
