
@Html.Partial("_HomeMainPanelPartial")

<!-- Section: intro -->
<section id="intro" class="intro row backgroundimg">
    @Html.Partial("_IntroSectionPartial")
</section>
<!-- /Section: intro -->

<!-- Section: services -->
<section id="service" class="home-section text-center bg-gray">
    @Html.Partial("_ServicesSectionPartial")
</section>
<!-- /Section: services -->

<!-- Section: about -->
<section id="about" class="home-section text-center">
    @Html.Partial("_AboutSectionPartial")
</section>
<!-- /Section: about -->

 <!-- Section: contact -->
<section id="contact" class="home-section text-center bg-gray">
        @Html.Partial("_ContactSectionPartial")
</section>
<!-- /Section: contact -->
<center>
    <div class="page-scroll">
        <a href="#intro" class="btn btn-circle" style="color:black;">
            <i class="fa fa-angle-double-up animated" style="color:black;"></i>
        </a>
    </div>
</center>

<script src="~/Scripts/custom.js"></script>
<script src="~/Scripts/wow.min.js"></script>