<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Library</title>

    @Styles.Render("~/Content/css")

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    @RenderBody()
    <footer style="background-color:unset;">
        <p>
            <div class="container body-content" style="color:black;">
                &copy; @DateTime.Now.Year - Mateusz Bedła
            </div>
        </p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/myScripts")
    @RenderSection("scripts", required: false)

</body>
</html>
