@model Library.Models.IndexViewModel

<link href="~/Content/body.css" rel="stylesheet" />

<div class="container body-content">
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        @Html.Partial("_BooksMainPanelPartial")
        <br /><br /><br /><br /><br />
        <h4>Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Name:</dt>
            <dd>@Model.Name</dd>
            <dt>Second Name:</dt>
            <dd>@Model.SecondName</dd>
            <dt>E-mail:</dt>
            <dd>@User.Identity.Name</dd>
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
            <dt>Obligation:</dt>
            <dd>@Model.Obligation zł</dd>
        </dl>
    </div>
</div>